@charset "UTF-8";

html{
	font-size:62.5%;/*16px×62.5％＝10px*/
}

body {
	font-family: trajan-pro-3,'a-otf-ryumin-pr6n', sans-serif;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
	letter-spacing: : 0.05rem;
  box-sizing: border-box;
}

img{
  width: 100%;
}

/*ーーーーーーーーーーーーーーーーー
　bace
ーーーーーーーーーーーーーーーーー*/
.main-wrapper{
  max-width: 732px;
  margin: 0 auto;
}

.img_full{
  box-sizing: border-box;
  margin-left: calc( ( 100vw - 732px ) / 2 * -1 );
  margin-right: calc( ( 100vw - 732px ) / 2 * -1 );
}

.text-center{
  text-align: center;
}

.flex{
  display: flex;
}

/*ーーーーーーーーーーーーーーーーー
　section
ーーーーーーーーーーーーーーーーー*/
.section{
  margin-top: 160px;
}

.section h2{
  margin-bottom: 120px;
  font-size: 5.6rem;
  line-height: 1;
}
/*ーーーーーーーーーーーーーーーーー
　eyecatch
ーーーーーーーーーーーーーーーーー*/
.eyecatch{
  height: 27.1875vw;
  background-image: url(../img/eyecatch__pc.jpg);
}

.eyecatch h2{
  padding-top: calc(13.59375vw - 42px);
  padding-left: 0;
  font-family: 'Star Jedi', arial;
  font-weight: normal;
  text-align: center;
  font-size: 6.6rem;
  line-height: 1;
  color: #f8fafc;
}

/*ーーーーーーーーーーーーーーーーー
　profile
ーーーーーーーーーーーーーーーーー*/
.profile-content img {
  width: auto;
  height: 194px;
  margin-right: 52px;
  margin-bottom: 0;
}

.profile-content p:not(:last-child){
  margin-bottom: 16px;
}

/* top-card */
.top-card{
	box-shadow: 0 3px 6px 2px rgba(0,0,0,0.32);
	margin-bottom: 66px;
}

.top-card__contents{
  position: relative;
  color: #707070;
}
.top-card img{
  width: auto;
  height: 232px;
}

.top-card h3{
  margin-top: 44px;
  margin-bottom: 10px;
  font-size: 3.2rem;
  line-height: 1.2;
}

.top-card h4{
  margin-top: 0;
  font-size: 1.6rem;
  font-weight: lighter;
}

.top-card p{
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
}

.portfolios li:nth-child(2n) .flex{
  flex-direction: row-reverse;
}

li:last-of-type .top-card{
  margin-bottom: 0;
}

.flex-2{
  flex-basis: 50%;
}

/*ーーーーーーーーーーーーーーーーー
　characteristics
ーーーーーーーーーーーーーーーーー*/
.characteristics .flex{
  justify-content: space-between;
}

.flex .character-items{
  flex-basis: 30%;
  margin-bottom: 0;
}
