@charset "UTF-8";

html{
	font-size:62.5%;/*16px×62.5％＝10px*/
}

body {
	font-family: open-sans, noto-sans-cjk-jp, sans-serif;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
  color: #707070;
  font-size: 1.6rem;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
	letter-spacing: : 0.05rem;
  box-sizing: border-box;
}





/*ーーーーーーーーーーーーーーーーー
　eyecatch
ーーーーーーーーーーーーーーーーー*/
.eyecatch{
  height: 27.1875vw;
  background-image: url(../img/eyecatch__pc.jpg);
}

.eyecatch h2{
  padding-top: calc(13.59375vw - 42px);
  padding-left: 0;
  font-family: 'Star Jedi', arial;
  font-weight: normal;
  text-align: center;
  font-size: 6.6rem;
  line-height: 1;
  color: #f8fafc;
}
