@charset "UTF-8";

html{
	font-size:62.5%;/*16px×62.5％＝10px*/
}

body {
	font-family: trajan-pro-3,'a-otf-ryumin-pr6n', sans-serif;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
  color: #707070;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
	letter-spacing: : 0.05rem;
  box-sizing: border-box;
}

/*ーーーーーーーーーーーーーーーーー
　bace
ーーーーーーーーーーーーーーーーー*/
.main-wrapper{
  max-width: 732px;
  margin: 0 auto;
}

.img_full{
  box-sizing: border-box;
  margin-left: calc( ( 100vw - 732px ) / 2 * -1 );
  margin-right: calc( ( 100vw - 732px ) / 2 * -1 );
}

.text-center{
  text-align: center;
}

.flex{
  display: flex;
}

/*ーーーーーーーーーーーーーーーーー
　section
ーーーーーーーーーーーーーーーーー*/
.section{
  margin-top: 160px;
}

.section h2{
  margin-bottom: 120px;
  font-size: 5.6rem;
  line-height: 1;
}
/*ーーーーーーーーーーーーーーーーー
　eyecatch
ーーーーーーーーーーーーーーーーー*/
.eyecatch{
  height: 27.1875vw;
  background-image: url(../img/eyecatch__pc.jpg);
}

.eyecatch h2{
  padding-top: calc(13.59375vw - 42px);
  padding-left: 0;
  font-family: 'Star Jedi', arial;
  font-weight: normal;
  text-align: center;
  font-size: 6.6rem;
  line-height: 1;
  color: #f8fafc;
}

/*ーーーーーーーーーーーーーーーーー
　profile
ーーーーーーーーーーーーーーーーー*/
.profile-content img {
  width: auto;
  height: 194px;
  margin-right: 52px;
  margin-bottom: 0;
}

.profile-content p:not(:last-child){
  margin-bottom: 16px;
}
